In [16]:
import requests 
from bs4 import BeautifulSoup
import pandas as pd

In [17]:
url= 'https://en.wikipedia.org/wiki/List_of_continents_by_GDP'
response= requests.get(url)
soup= BeautifulSoup(response.content, 'html.parser')

In [18]:
table= soup.find('table', {'class': 'wikitable'})

In [19]:
headers= []
for header in table.find_all('th'):
    headers.append(header.text.strip())

In [20]:
rows= []
for row in table.find_all('tr')[1:]:
    cells= row.find_all('td')
    cell_data= [cell.text.strip() for cell in cells]

    if len(cell_data) == len(headers):
        rows.append(cell_data)
    else:
        # Add None or a placeholder to match the header length if rows are inconsistent
        rows.append(cell_data + [None] * (len(headers) - len(cell_data)))

In [21]:
rows

[['', 'World', '104,476', '100.0', ''],
 ['1', 'Asia', '38,435', '36.8', 'China (46.1%)\xa0Japan (11.0%)'],
 ['2', 'North America', '31,603', '30.2', 'United States (85.3%)'],
 ['3',
  'Europe',
  '25,440',
  '24.4',
  'Germany (17.4%)\xa0United Kingdom (13.1%)\xa0France (12.0%)\xa0Italy (8.6%)'],
 ['4', 'South America', '4,100', '3.9', 'Brazil (51.9%)'],
 ['5',
  'Africa',
  '2,858',
  '2.7',
  'Egypt (13.9%)\xa0Nigeria (13.6%)\xa0South Africa (13.3%)\xa0Algeria (7.8%)\xa0Kenya (5.5%)'],
 ['6', 'Oceania', '1,979', '1.9', 'Australia (85.3%)'],
 ['', 'Unaccounted', '62', '0.1', '']]

In [22]:
df= pd.DataFrame(rows, columns= headers)

In [26]:
df.head()

  Rank      Continent GDP(US$billion) Share (%)
0               World         104,476     100.0
1    1           Asia          38,435      36.8
2    2  North America          31,603      30.2
3    3         Europe          25,440      24.4
4    4  South America           4,100       3.9

In [25]:
df= df.drop(columns= "Countries collectivelyconstituting at least 50.0% of thecontinent's GDP (nominal)")

In [27]:
df.to_csv('continents_join_1.csv')